.footer {
    width: 100%;
    padding-inline: 2rem;
}

.container {
    width: min(100%, 120rem);
    margin-inline: auto;
    padding-block: 2rem;
}

.copyright {
    text-align: center;
    margin: 0;
}
