@import '~@blueprintjs/core/lib/scss/variables';
@import '../../../styles/variables.module.scss';

.navbar {
    z-index: $pt-z-index-overlay;
}

.btn {
    display: none;

    @media (min-width: $pt-breakpoint-sm) {
        display: block;

        &:first-of-type {
            margin-right: 1rem;
        }
    }
}

.popover {
    width: 32px;
    height: 32px;
}

.btnUser {
    width: 32px;
    height: 32px;
    padding: 0;

    cursor: pointer;
    border: none;
    border-radius: 50%;
    overflow: hidden;
}

.userMenu {
    position: absolute;
    top: 45px;
    right: 15px;
}

.menu {
    margin-right: 1rem;

    @media (min-width: $pt-breakpoint-sm) {
        display: none;
    }
}
