@import '../../../styles/variables.module.scss';

$cube-background-color: #3e526a;
$cube-black: #02203c;

.technologies {
    width: 100%;
    padding: 15rem 1.5rem;
}

.container {
    width: min(100%, 113rem);
    min-height: 50rem;
    margin-inline: auto;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-inline: auto;

    @media (min-width: $pt-breakpoint-md) {
        flex-direction: row;
        grid-gap: 5rem;
    }
}

.grid {
    display: grid;
    grid-gap: 2rem;

    @media (min-width: $pt-breakpoint-md) {
        flex: 1 1 50%;
    }
}

.title {
    text-align: center;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 0;
}

.techStackContainer {
    display: grid;
    gap: 2rem;
}

.techStack {
    text-align: center;
    font-size: 1.8rem;
}

.title,
.subtitle,
.techStack {
    @media (min-width: $pt-breakpoint-md) {
        text-align: left;
    }
}

.cubeAnimation {
    margin-bottom: 3rem;
    flex: 0 0 250px;
    display: flex;
    justify-content: center;

    @media (min-width: $pt-breakpoint-md) {
        flex: 1 1 50%;
        align-items: flex-start;
        margin-top: 15rem;
    }
}

.cube {
    display: block;
}

.cubeContainer {
    perspective: 800px;
    perspective-origin: 50% 100px;
}

.cubeFaces {
    position: relative;
    transform-style: preserve-3d;
    width: 200px;

    @media (min-width: $pt-breakpoint-md) {
        width: 250px;
    }
}

.cubeFaceFront,
.cubeFaceBack,
.cubeFaceTop,
.cubeFaceBottom,
.cubeFaceLeft,
.cubeFaceRight {
    width: 200px;
    height: 200px;
    outline: 1px solid $cube-black;
    position: absolute;
    opacity: 0.8;
    box-shadow: inset 0px 0px 100px $cube-black;
    display: grid;
    place-items: center;

    @media (min-width: $pt-breakpoint-md) {
        width: 250px;
        height: 250px;
    }
}

.cubeFaceFront {
    transform: translateZ(100px);
    background: $cube-background-color;

    @media (min-width: $pt-breakpoint-md) {
        transform: translateZ(125px);
    }
}

.cubeFaceBack {
    transform: translateZ(-100px) rotateY(180deg);
    background: $cube-background-color;

    @media (min-width: $pt-breakpoint-md) {
        transform: translateZ(-125px) rotateY(180deg);
    }
}

.cubeFaceLeft {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background: $cube-background-color;

    @media (min-width: $pt-breakpoint-md) {
        transform: rotateY(270deg) translateX(-125px);
    }
}

.cubeFaceRight {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background: $cube-background-color;

    @media (min-width: $pt-breakpoint-md) {
        transform: rotateY(-270deg) translateX(125px);
    }
}

.cubeFaceTop {
    transform: rotateX(-90deg) translateY(-100px);
    transform-origin: top center;
    background-color: $cube-background-color;

    @media (min-width: $pt-breakpoint-md) {
        transform: rotateX(-90deg) translateY(-125px);
    }
}

.cubeFaceBottom {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom center;
    background-color: $cube-background-color;

    @media (min-width: $pt-breakpoint-md) {
        transform: rotateX(90deg) translateY(125px);
    }
}

.cubeShadow {
    position: relative;
    width: 200px;
    transform-style: preserve-3d;

    @media (min-width: $pt-breakpoint-md) {
        width: 250px;
    }

    div {
        width: 200px;
        height: 200px;
        transform: rotateX(90deg) translateY(100px);
        position: absolute;
        top: 0px;
        opacity: 0.98;
        box-shadow: 0px 0px 100px $cube-background-color;
        transform-origin: bottom center;

        @media (min-width: $pt-breakpoint-md) {
            width: 250px;
            height: 250px;
            transform: rotateX(90deg) translateY(125px);
        }
    }
}
