@import '~@blueprintjs/core/lib/scss/variables';
@import '../../../styles/variables.module.scss';

.alerts {
    width: 100%;
    padding: $pt-padding;
}

.container {
    width: min(100%, $pt-max-width);
    margin-inline: auto;
}

.card {
    width: 100%;
    padding: 0;
}

.header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $pt-divider-black;
}

.alertsTitle {
    display: flex;
    align-items: center;

    span {
        color: $pt-text-color-muted;
    }

    h5 {
        margin-left: 10px;
        margin-bottom: 0;
    }
}

.alert {
    padding: $pt-padding;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        border-bottom: 1px solid $pt-divider-black;
    }
}

.alertContent {
    &:nth-child(n + 4) {
        display: none;

        @media (min-width: $pt-breakpoint-sm) {
            display: block;
        }
    }

    flex: 1 1 20%;
    margin-left: 10px;
}

.alertLabels {
    padding-block: 1rem;
    padding-left: 31px;
    padding-right: $pt-padding;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $pt-divider-black;

    p {
        flex: 1 1 20%;
        margin-left: 10px;
        margin-bottom: 0;
        font-weight: 500;

        &:nth-child(n + 3) {
            display: none;

            @media (min-width: $pt-breakpoint-sm) {
                display: block;
            }
        }
    }
}

.tooltip {
    margin-bottom: 0;
}

.alertLoading {
    padding-block: $pt-padding;
    padding-left: 31px;
    padding-right: $pt-padding;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
        border-bottom: 1px solid $pt-divider-black;
    }
}

.loading {
    &:nth-child(n + 3) {
        display: none;

        @media (min-width: $pt-breakpoint-sm) {
            display: block;
        }
    }

    flex: 1 1 20%;
    margin-left: 10px;
}
