@import '~@blueprintjs/core/lib/scss/variables';
@import '../../../styles/variables.module.scss';

.header {
    padding: $pt-padding;
    background-color: #ffffff;
}

.headerContainer {
    width: min(100%, 120rem);
    margin-inline: auto;
}

.title,
.subtitle {
    text-align: center;

    @media (min-width: $pt-breakpoint-sm) {
        text-align: left;
    }
}

.btnSelect {
    outline: none;
}

.container {
    width: min(100%, $pt-max-width);
    padding: $pt-padding;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: $pt-padding;

    @media (min-width: $pt-breakpoint-md) {
        flex-direction: row;
    }
}

.earthquakesList {
    flex: 1 1 50%;
    width: min(100%, 120rem);
    margin-inline: auto;
}

.earthquakesListCard {
    padding: 0;
}

.listItem {
    padding: $pt-padding;

    &:not(:last-of-type) {
        border-bottom: 1px solid $pt-divider-black;
    }
}

.cardMap {
    flex: 1 1 50%;
    width: min(100%, 120rem);
    margin-inline: auto;
    min-height: 50rem;
    padding: 0;
}

.mapHeader,
.earthquakesHeader {
    display: flex;
    justify-content: space-between;
}

.mapHeader {
    min-height: 5rem;
    padding: $pt-padding;
}

.earthquakesHeader {
    border-bottom: 1px solid $pt-divider-black;
    padding: 1rem $pt-padding;
}

.mapTitle {
    display: flex;
    align-items: center;

    span {
        color: $pt-text-color-muted;
    }

    h5 {
        margin-left: 10px;
        margin-bottom: 0;
    }
}

.map {
    width: 100%;
    min-height: calc(50rem - 5rem);
    z-index: 0;
}
