@import '~@blueprintjs/core/lib/scss/variables';
@import '../../../styles/variables.module.scss';

.footer {
    width: 100%;
    padding-inline: $pt-padding;
}

.container {
    width: min(100%, 113rem);
    margin-inline: auto;
    padding-block: 1.5rem;
    border-top: 1px solid $pt-divider-black;
}

.copyright {
    text-align: center;
    margin: 0;
}
