@import '../../../styles/variables.module.scss';

.navbar {
    width: 100%;
    padding-inline: $pt-padding;
}

.container {
    width: min(100%, 120rem);
    padding-block: 1rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        cursor: pointer;
    }
}

.logo {
    font-size: 2rem;
    margin-bottom: 0;
}

.github {
    outline: none;
}
