@import '~@blueprintjs/core/lib/scss/variables';

.alerts {
    width: 100%;
    padding: 1.5rem;
}

.container {
    width: min(100%, 200rem);
    margin-inline: auto;
}

.card {
    width: 100%;
    padding: 0;
}

.header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $pt-divider-black;
}

.alertsTitle {
    display: flex;
    align-items: center;

    span {
        color: $pt-text-color-muted;
    }

    h5 {
        margin-left: 1rem;
        margin-bottom: 0;
    }
}

.alert {
    padding: 1rem 1.5rem;

    &:not(:last-of-type) {
        border-bottom: 1px solid $pt-divider-black;
    }
}
