@import '~@blueprintjs/core/lib/scss/variables';

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    background-color: $pt-app-background-color;
    padding-top: $pt-navbar-height;
}

.#{$ns}-toast-container.#{$ns}-toast-container-inline {
    position: fixed;
}
