@import '~@blueprintjs/core/lib/scss/variables';

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    padding-left: calc(100vw - 100%);
}

body {
    font-size: 1.4rem;
    background-color: $pt-app-background-color;
    padding-top: $pt-navbar-height;
}
