@import '../../../styles/variables.module.scss';
@import '~@blueprintjs/core/lib/scss/variables';

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding-inline: $pt-padding;
    z-index: $pt-z-index-overlay;
}

.container {
    width: min(100%, 112.5rem);
    min-height: 5rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        cursor: pointer;
    }
}

.logo {
    font-size: 2rem;
    margin-bottom: 0;
}

.github {
    outline: none;
}
