@import '~@blueprintjs/core/lib/scss/variables';
@import '../../../styles/variables.module.scss';

.location {
    width: 100%;
    padding-inline: $pt-padding;
}

.container {
    width: min(100%, $pt-max-width);
    margin-inline: auto;
}

.card {
    width: 100%;
    height: 100rem;
    padding: 0;
}

.header {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

.mapTitle {
    display: flex;
    align-items: center;

    span {
        color: $pt-text-color-muted;
    }

    h5 {
        margin-left: 10px;
        margin-bottom: 0;
    }
}

.map {
    width: 100%;
    height: calc(100rem - 5rem);
    z-index: 0;
}

.spinner {
    width: 100%;
    height: calc(100rem - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
